@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/Fonts/ProximaNova-Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/Fonts/ProximaNova-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/Fonts/Raleway-Bold_0.ttf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Fonts/Raleway-SemiBold_0.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/Fonts/Raleway-Light_0.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}